.titleMain {
  margin: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.imageHero {
  width: 100%;
  height: auto;
}

.tagLine {
  margin: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.iconHeartContainer {
  text-align: center;
}

.iconHeart {
  width: 50%;
  margin: auto;
}

.date {
  margin: 40px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}